.Partners {
  width: 100%;
  padding: 100px 50px;
}
h1 {
  font-size: 27px;
  font-weight: 650;
}
.Partners > ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  align-items: center;
  gap: 20px;
}
.Partners > ul > li > img {
  height: 80px;
}
