.Container {
  background-color: #f4ae1a;
  font-family: "Finlandica", sans-serif;
}
.Wrapper {
  padding: 30px 0;
}

ul {
  list-style: none;
  width: max-content;
}
ul > li {
  list-style: none;
  line-height: 1.9;
  font-size: 14px;
  font-weight: 400;
}
.ListItem:hover {
  position: relative;
  left: 10px;
  cursor: pointer;
  color: #2a6496;
  transition: 1s;
}
.FooterHeading {
  color: #428bca;
  font-size: 16px;
  font-weight: bold;
}
.FooterSocialHeading {
  font-weight: bold;
  font-size: 18px;
}
.ListHeading {
  font-weight: bold;
  font-size: 16px;
  display: flex;
  gap: 5px;
}
.ListHeadingSocial {
  position: relative;
  top: -25px;
}
.socailImg {
  height: 35px;
  border-radius: 100%;
  padding: 7px;
  background-color: #1f1f1f;
}
.FooterSocailSection {
  margin: 0 0 0 40px;
}
